<section class="detail-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <td class="text-center border-0 w-10 pt-40">
                            <div class="chat-icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-chat-square-text"></i>
                            </div>
                        </td>
                        <td class="border-0 pr-0 w-90 pb-4 pt-40">
                            <div>
                                <h6 class="font-weight-bold">Nội dung kiến nghị</h6>
                                <div>
                                    This text is styled asd with some of the textsp
                                    ropertieddddddddddds. The heading uses the text-align, text-transform, and color properties.
                                    TheThis text is styled asd with some of the textsp
                                    roperties. The heading uses
                                    the text-align, text-transform, and color properties. The
                                </div>
                                <div class="mb-2 mt-4 d-flex align-items-center justify-content-start">
                                    <div class="attach-icon-chat d-flex align-items-center justify-content-center">
                                        <i class="bi bi-paperclip"></i>
                                    </div>
                                    <div class="attach-file-chat pointer">
                                        <div style="font-size: 12px">File đính kèm:</div>
                                        <div>BỘ TƯ PHÁP LẦN 2.pdf</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center w-10 pt-40">
                            <div class="reply-icon d-flex align-items-center justify-content-center">
                                <i class="bi bi-chat-text"></i>
                            </div>
                        </td>
                        <td class="w-90 pr-0 pt-40">
                            <div>
                                <h6 class="font-weight-bold">Nội dung kiến nghị</h6>
                                <div>
                                    This text is styled asd with some of the textsp
                                    ropertieddddddddddds. The heading uses the text-align, text-transform, and color properties.
                                    TheThis text is styled asd with some of the textsp
                                    roperties. The heading uses
                                    the text-align, text-transform, and color properties. The
                                </div>
                                <div class="mb-2 mt-4 d-flex align-items-center justify-content-start">
                                    <div class="attach-icon-reply d-flex align-items-center justify-content-center">
                                        <i class="bi bi-paperclip"></i>
                                    </div>
                                    <div class="attach-file-reply">
                                        <div style="font-size: 12px">File đính kèm:</div>
                                        <div>Công văn trả lời của cơ quan lần 1.pdf</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
