@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
}

/*Start - Customer css*/
.pt-40 {
    padding-top: 40px !important;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.text-red {
    color: red !important;
}

.pointer {
    cursor: pointer;
}

.btn-outline-naucam {
    color: #d45c37;
    border-color: #d45c37;
}

.btn-outline-naucam:hover {
    color: #fff;
    background-color: #d45c37;
    border-color: #d45c37;
}

/*End - Customer css*/

.home-section {
    height: 100vh;
    width: 100%;
    background-color: #eaeaea;
    display: table;
}

.detail-section {
    height: 100vh;
    width: 100%;
    display: table;
}

.login-section {
    width: 100%;
    height: 100vh;
    padding: 7em 0px;
    background-color: #426eb4;
    display: table;
}

.login {
    width: 90%;
    background: #fff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 5px #00000080;
}

.login-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #205AA7;
    margin: 0 auto;
    margin-bottom: 30px;
}

.login-icon i {
    font-size: 50px;
    color: white;
}

.login-input {
    height: 50px;
    width: 100%;
    background: #eaeaea;
    color: #000;
    font-size: 16px;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s ease-in-out;
    outline: none;
    border-radius: .25rem;
}

.btn-login {
    height: 45px;
    background: #426EB4 !important;
    border: 1px solid #426EB4 !important;
    color: #fff !important;
}

.login-error {
    color: red;
    font-size: 80%;
    padding-bottom: 1rem;
}

.spinner-border-custom {
    border-width: 2px;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}

.all-suggestions {
    padding: 6px 0px;
    border-bottom: 1px solid orange;
    display: table;
    color: #17a2b8;
}

a.text-info:hover {
    color: #00d9ff !important;
    text-decoration: none;
}

.chat-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #FCDAD5;
    margin: 0 auto;
}

.chat-icon i {
    font-size: 50px;
    color: #EE7C6B;
    padding-top: 8px;
}

.reply-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #C8E2B1;
    margin: 0 auto;
}

.reply-icon i {
    font-size: 50px;
    color: #367517;
}

.attach-icon-chat {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #EE7C6B;
    margin-right: 10px;
}

.attach-icon-chat i {
    font-size: 25px;
    color: #FFF;
    transform: rotateZ(45deg);
}

.attach-file-chat {
    width: 94%;
    padding: 4px 10px;
    background-color: #fcdad5;
    border-radius: 3px;
}

.attach-icon-reply {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #489620;
    margin-right: 10px;
}

.attach-icon-reply i {
    font-size: 25px;
    color: #FFF;
    transform: rotateZ(45deg);
}

.attach-file-reply {
    width: 94%;
    padding: 4px 10px;
    background-color: #C8E2B1;
    border-radius: 3px;
}

.search_select_box button {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: black;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    background-color: white;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline: none !important;
}

.btn-light:hover {
    background-color: white;
}

.btn-light.focus, .btn-light:focus {
    background-color: white;
}

/*custom file*/
input[type="file"] {
    display: none;
}

/* custom input radio */
input[type="radio"] {
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d45c37;
    border: 1px solid #d45c37;
}

.form-control.is-invalid-select {
    border-color: #dc3545;
}

.is-invalid-select ~ .invalid-feedback {
    display: block;
}

a.active-nav {
    border-bottom: 1px solid #fff;
    padding: 8px 0px 0px 0px !important;
    color: white !important;
}

.menu {
    color: #e8e8e8 !important;
    font-size: 1.25rem;
    padding: 8px 0px 0px 0px !important;
    margin: 10px 15px;
}

.dropdown-menu.show {
    right: 15px;
    left: auto;
    padding: 0px;
    border: 1px solid #17a2b8;
    border-radius: 0;
}

.menu-icon {
    font-size: 20px;
    padding-right: 3px;
}

.img-custom {
    width: auto;
    max-height: 200px;
    margin-left: 20px;
}

.thongbao {
    position: fixed;
    right: 55px;
    top: 100px;
    width: auto;
    padding: 10px 25px;
    background-color: #a8dca8;
    border: 1px solid #32dc32;
    border-radius: 3px;
    z-index: 9999;
    transition: 6s;
    visibility: hidden;
    opacity: 0;
}

.thongbaoloi {
    position: fixed;
    right: 55px;
    top: 100px;
    width: auto;
    padding: 10px 25px;
    background-color: #fcdad5;
    border: 1px solid #e54646;
    border-radius: 3px;
    z-index: 9999;
    transition: 3s;
    visibility: hidden;
    opacity: 0;
}

.thongbao.show {
    animation: active 3s forwards;
}

.thongbaoloi.show {
    animation: active 6s forwards;
}

.thongbao i {
    color: green;
    font-size: 1.5em;
}

.thongbaoloi i {
    color: red;
    font-size: 1.5em;
}

@keyframes active {
    0% {
        transform: translateX(350px);
        opacity: 0;
    }
    25% {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
    85% {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateX(350px);
    }
}

ul.ngx-pagination .pagination-previous a::before,
ul.ngx-pagination .pagination-previous.disabled::before {
    content: '◀' !important;
}

ul.ngx-pagination .pagination-next a::after,
ul.ngx-pagination .pagination-next.disabled::after {
    content: '▶' !important;
}

.status-active {
    color: #008900;
    padding: 10px 35px;
    text-align: left;
}

.status-locked {
    color: #ff2a2a;
    padding: 10px 35px;
    text-align: left;
}

.avatar-custom {
    width: 55px;
    height: 55px
}

.avatar-custom-fluid {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px #00000080;
}

.logout {
    padding: 0 0.5rem 0 0.5rem;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}

.logout-li a {
    color: rgba(255, 255, 255, .75) !important;
}

.btn-feedback {
    background-color: #50A625;
    padding: 2px 10px;
    width: 13%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.btn-chuyentiep {
    background-color: #00B2BF;
    padding: 2px 10px;
    margin-left: 10px;
    width: 14%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.feedback-section {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    display: table;
    height: 100vh;
    width: 100%;
    background-color: #808080d1;
}

.feedback-form {
    border: 1px solid #ee7c6b;
    padding: 30px 30px 20px 30px;
    margin-top: 10px;
    visibility: visible;
    border-radius: 3px;
}

.forwarded-form {
    background-color: #FFFFFF;
    padding: 30px 30px 20px 30px;
    margin-top: 10px;
    visibility: visible;
    border-radius: 3px;
    border: 1px solid #2da2bf;
}

.icon-close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 0px 3px;
}

.icon-close:hover {
    color: red;
}

.nav-home {
    background-color: #17a2b8;
}

.warning {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 800px;
    color: yellow;
    transform: translateX(-400px);
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

.title-warning {
    display: table;
    white-space: nowrap;
    text-overflow: clip;
}

.title-warning.move {
    animation-name: warning;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes warning {
    0% {
        transform: translateX(800px);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}

@media (min-width: 768px) {
    .nav-admin {
        position: relative !important;
        right: 60px;
        z-index: 9999;
    }

    .nav-home {
        background-color: #17a2b8;
        padding-right: 80px
    }
}

@media (min-width: 992px) {
    .nav-admin {
        position: relative !important;
        right: 60px;
        z-index: 9999;
    }

    .trang-chu {
        margin-left: 165px;
    }

    .nav-home {
        background-color: #17a2b8;
        padding: 8px 100px 8px 100px;
    }

    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
        flex-direction: row-reverse !important;
    }
}

.province,
.dicstric {
    padding: 5px 10px;
}

.province:hover {
    background-color: #17a2b8;
    color: white;
}

.province.active {
    background-color: #17a2b8;
    color: white;
}

.dicstric:hover {
    background-color: #e0e0e0;
    color: #000000;
}

.dicstric.active {
    background-color: #e0e0e0;
    color: #000000;
}

.nav-link:focus {
    background-color: rgba(255, 255, 255, .1);
    color: #000000;
}

.closeProvince {
    position: absolute;
    right: 20px;
    top: 58px;
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 5px;
    color: white;
}

.closeProvince:hover {
    color: #FF0000FF;
    cursor: pointer;
}

.bi-x::before {
    content: "\f62a";
    font-size: 25px;
}

.btn.dropdown-toggle.btn-light {
    color: #4f5557 !important;
    background-color: #FFFFFF !important;
    border-color: #ced4da !important;
}
