@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/*Start - Customer css*/
.pt-40 {
    padding-top: 40px !important;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-90 {
    width: 90% !important;
}

.w-95 {
    width: 95% !important;
}

.pointer {
    cursor: pointer;
}

/*End - Customer css*/

body {
    background: #f8f9fd;
}

.login-section {
    padding: 7em 0px;
}

.login {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #205AA7;
    margin: 0 auto;
    margin-bottom: 30px;
}

.login-icon i {
    font-size: 50px;
    color: white;
}

.login-input {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.2s ease-in-out;
    outline: none;
    border-radius: .25rem;
}

.btn-login {
    height: 45px;
    background: #426EB4 !important;
    border: 1px solid #426EB4 !important;
    color: #fff !important;
}

.all-suggestions {
    padding: 6px 0px;
    border-bottom: 1px solid orange;
    display: table;
    color: #17a2b8;
}

a.text-info:hover {
    color: #00d9ff !important;
    text-decoration: none;
}

.chat-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #FCDAD5;
    margin: 0 auto;
}

.chat-icon i {
    font-size: 50px;
    color: #EE7C6B;
    padding-top: 8px;
}

.reply-icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #C9E4D6;
    margin: 0 auto;
}

.reply-icon i {
    font-size: 50px;
    color: #367517;
}

.attach-icon-chat {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #EE7C6B;
    margin-right: 10px;
}

.attach-icon-chat i {
    font-size: 25px;
    color: #FFF;
    transform: rotateZ(45deg);
}

.attach-file-chat {
    width: 94%;
    padding: 4px 10px;
    background-color: #f5cac3;
    border-radius: 3px;
}

.attach-icon-reply {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: #367517;
    margin-right: 10px;
}

.attach-icon-reply i {
    font-size: 25px;
    color: #FFF;
    transform: rotateZ(45deg);
}

.attach-file-reply {
    width: 94%;
    padding: 4px 10px;
    background-color: #C9E4D6;
    border-radius: 3px;
}
/*input[type="file"]{*/
/*    color: transparent;*/
/*}*/
/*label {*/
/*    padding: 5px;*/
/*    background: silver;*/
/*}*/
/*label > input[type=file] {*/
/*    display: none;*/
/*}*/
