<section class="home-section">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="all-suggestions">HUYỆN, THÀNH PHỐ</div>
                        <hr class="m-0">
                        <div>Hà nội</div>
                        <div>Hồ chí minh</div>
                        <div>Đà nẵng</div>
                        <div>Hải phòng</div>
                        <div>Cà mau</div>
                        <div>Đồng nai</div>
                        <div>Hà tĩnh</div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="all-suggestions">TẤT CẢ ĐỀ NGHỊ</div>
                                <hr class="m-0">
                            </div>
                            <div class="col-md-6">
                                <div class="input-group md-form form-sm form-2 pl-0">
                                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Tìm kiếm"
                                           aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-info">Tìm</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td class="text-center border-0 w-5">
                                            1
                                        </td>
                                        <td class="border-0 w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center w-5">
                                            1
                                        </td>
                                        <td class="w-95">
                                            <div>
                                                <div>This text is styled asd with some of the textsp
                                                    roperties. The heading uses
                                                    the text-align, text-transform, and color properties. The
                                                </div>
                                                <a [routerLink]="['','chi-tiet']" class="float-right text-info pointer"><i
                                                    class="bi bi-box-arrow-up-right"></i> Chi tiết
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
